.node {
  position:absolute;
}

.arrow {
    position: absolute;
}

.no-fsm-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.fsm-properties-bar {
  padding: 8px;
  .state-file-field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.statesGraphContainer {
    position: relative;
    height: 50vh;
    border: 0.01px solid wheat;
  }
  
  
  .mainState {
    left: 500px;
    border: #00ffa8 5px solid;
  }
  
  .drawflow {
    
    .drawflow-node:first-child {
      background: rgba(109, 105, 105, 0.195);
      border-radius: 15px;
      text-align: center;
      font-size: 1.25rem;
      color: #fff;
    }
    .connection .main-path:first-child {
      stroke: #702727;
    }
  }
  
  .parent-node {
    
    .start-node:first-child {
      /* Vos styles pour le premier élément ici */
      background: #00bc8c;
      border: #00bc8c 1px solid;
      color: white;
    }

  }
  
  