.startNode {
    width: 160px;
    height: 50px;
    border-radius: 5%;
    background-color: rgb(56, 187, 93);
    text-align: center;
    font-size: 1.5rem;
}

.node {
  position:absolute;
}

.arrow {
    position: absolute;
}

.no-fsm-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.statesGraphContainer {
    position: relative;
    height: 50vh;
    border: 0.01px solid wheat;
  }
  
  
  .mainState {
    left: 500px;
    border: #00ffa8 5px solid;
  }
  