#canvas-render {
  touch-action: none;
  width: 100%;
  height: 80vh;
}

#loadingScreen {
  position: absolute;
  left: 0;
  top	: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  background-color: rgba(30, 27, 36, 100%);
  z-index: 1054;
  opacity: 1;
  transition: opacity 2s ease; /* Transition sur l'opacité */
  .hide {
    display: none;
    opacity: 0; /* Assure que la div est invisible lorsqu'elle est cachée */
  }

  .havok {
    position: absolute;
    right: 100px;
    bottom: 50px;
    display: flex;
    height: 45px;
    p{
      font-size: 0.8rem;
      margin-right: 10px;
    }
    img {
      margin-top: 5px;
      height: 100%;
    }
  }
  
  @keyframes rotateYAnimation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

.div3d {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Indique que les enfants doivent être positionnés dans un espace 3D */
  animation: rotateYAnimation 2s linear infinite;
  img {
    width: 50%;
    padding-bottom: 25px;
  }
}


#inspector-host {
  position: absolute;
}

#fps-meter {
  color: red;
}

.tree-btn {
  border: 1px solid red;
}

.properties-btn {
  position: absolute;
  top:215px;
  right: 0;
  width: 32px;
  height: 150px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.console-btn {
  position: absolute;
  top:365px;
  right: 0;
  width: 32px;
  height: 150px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

// .resizable-div {
//   width: 1500px;
//   height: 100%;
//   background-color: #1d142e;
//   resize: horizontal;
//   overflow: hidden;
//   cursor: col-resize; /* Changement de curseur au survol */
// }

.test {
  display: flex;
  flex-direction: row;
}

.selected-model {
  border: 2px solid yellow;
}

.modal-3d-models {
  display: flex;
  flex-direction: row;
}

body {
// background-color: #242424;
//   color: rgba(255, 255, 255, 0.87);
  ul {
    list-style: none;
    padding-left: 16px;
    padding-top: 3px;
  }
}

// :root {
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: 16px;
//   line-height: 24px;
//   font-weight: 400;

//   color-scheme: light dark;
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }
// a:hover {
//   color: #535bf2;
// }

// body {
//   margin: 0;
//   /* display: flex; */
//   /* place-items: center; */
//   /* min-width: 320px;
//   min-height: 100vh; */
// }

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     // color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

