
.vector3-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    > .label {
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 0.9rem;
    }

    .axis-row {
        display: flex;
        flex-direction: row;
        gap: 8px;

        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            margin: 0;

            input {
                width: 70px; // Ajustable selon ton UI
                padding: 4px;
            }
        }
    }
}

.properties-bar {
    top: 115px;
}
  
.x-axis {
    color: red;
}
.y-axis {
    color: lightgreen;
}
.z-axis {
    color: rgb(0, 128, 255);
}